/* @font-face {
  font-family: 'CircularStdMedium';
  src: url('../assets/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('../assets/fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_bold';
  src: url('../assets/fonts/ROBOTO-BOLD.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/ROBOTO-REGULAR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
